/* ==========================================================================

	WATS 1020 - Winter 2016 Quarter
	Add A Map Assignment
	Sunny Yuen

   ========================================================================== */

body,
.container {
	padding-bottom: 2rem;
	max-width: 900px;
	margin: auto;
}

blockquote {
	margin-top: 2rem;
}

.tab-pane {
	padding-top: 2rem;
}

#map-container { 
	height: 40rem; 
}















