/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#map-container { height: 180px; }















